{% extends 'HOME/basic.html' %}
{% block title %} Home {% endblock %}
{%block homeactive %}active{% endblock %}
{% block body %}
  <header>
  <div id="abc">
    <h1 class="page-title">Welcome!</h1>




  <div class="hr pb0"></div>


  </div></header>





  <h2 id="who-are-we">Who are we?</h2>
<p>We, Team Anveshak, are a team of 30+ passionate students from IIT Madras who live &amp; breathe robotics. Since our beginnings around early 2016, we have spent countless days &amp; nights in building our own remote operated all-terrain rovers, complete with a robotic manipulator &amp; digger. We recently celebrated our third anniversary &amp; thus far, it’s been a pretty incredible journey.</p>

<p><img src="/assets/img/Caesar1.jpg"></p>

<p>Our team brings together a set of highly dedicated &amp; skilled students working on mechanical design, system architecture &amp; control, outreach &amp; business relations. We also organize educational workshops for students of our institute on different aspects of robotics. The technical knowledge &amp; practical experience the team imparts to its members is unparalleled, nurturing them into effective team players &amp; leaders of industry &amp; research.</p>

<p><img src="/assets/img/group.jpg"></p>





<div id="abc">



<h2 id="what-we-do">What we do</h2>
<p>To test ourselves on the global stage &amp; to learn from the best in the business,
our team participates in the University Rover Challenge(URC), an international robotics competition geared towards space exploration &amp; research. URC is a project of The Mars Society aimed at promoting space technology research &amp; development amongst students across the world, by challenging them to build the next generation of Mars rovers. Several teams from the top universities of North America, Europe, Asia and other parts of the world compete in this challenge which tests their rovers in the extreme conditions of the Mars Desert Research Station, which is akin to Martian terrain.</p>

<p>From qualifying to participate in the European Rover Challenge(ERC) 2016 to actually finishing as champions of Indian Rover Challenge(IRC) 2019 and finally finishing in <b> the top 12 positions in University Rover Challenge(URC) 2019 </b>, we as a team have grown at a rapid pace &amp; have learned &amp; improved at each stage. In Our long term vision,  we hope to collaborate with the top research organizations of India such as the Indian Space Research Organization(ISRO) &amp; the Defense Research &amp; Development Organization(DRDO) in building truly world class technologies for all.</p>

<h2 id="centre-for-innovationcfi-and-iit-madras">Centre for Innovation(CFI) and IIT Madras</h2>
<p>IIT Madras, the premier institution for engineering in India, provides a base for all activities of Team Anveshak. The team is primarily funded by IIT Madras and works under the umbrella of Centre For Innovation (CFI), the student run makerspace​ of​ ​IIT Madras. More information about CFI can be found here.</p>
<h2 id="videos">Videos</h2>
<hr>

<div id="abc">
<h2 id="aurora-in-action--mdrs-in-utah-usa">System Acceptance Review | URC 2020</h2>
<div style="float: none; clear: both; width: 100%; position: relative; padding-bottom: 56.25%; padding-top: 25px; height: 0;">
  <iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://www.youtube.com/embed/LI7Wsg5GcxQ?rel=0" allowfullscreen="">
  </iframe>
</div>
<hr>


<div id="abc">
<h2 id="aurora-in-action--mdrs-in-utah-usa">Caesar in Action @ MDRS in UT, USA</h2>
<div style="float: none; clear: both; width: 100%; position: relative; padding-bottom: 56.25%; padding-top: 25px; height: 0;">
  <iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://www.youtube.com/embed/wVnwrgTifro?rel=0" allowfullscreen="">
  </iframe>
</div>
<hr>

<div id="abc">
<h2 id="aurora-in-action--mdrs-in-utah-usa">Journey so far!</h2>
<div style="float: none; clear: both; width: 100%; position: relative; padding-bottom: 56.25%; padding-top: 25px; height: 0;">
  <iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://www.youtube.com/embed/VEyJ4maBrkg?rel=0" allowfullscreen="">
  </iframe>
</div>
<hr>

<h2 id="aurora-in-action--mdrs-in-utah-usa">System Acceptance Review Videos</h2>
<div style="float: none; clear: both; width: 100%; position: relative; padding-bottom: 56.25%; padding-top: 25px; height: 0;">
  <iframe style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://www.youtube.com/embed/videoseries?list=PLV-C8zz_bK63dfYYZkVpY-ArG2dfIjUwG" allowfullscreen="">
  </iframe>
</div>
<hr>



<style>
img {
  border-radius: 5px;
  border: 2px solid #73AD121;
  padding: 20
}

body{
scroll-snap-type: y mandatory;
overflow-y: scroll;
}
#abc{
scroll-snap-align:start;
}
</style>


</div></div></div></div></article>




    <footer role="contentinfo">
  <hr>

  <p><small class="copyright">© 2019. Team Anveshak.
</small></p>


  <hr class="sr-only">
</footer>

  </main>
  <hy-drawer>
  <header id="_sidebar" class="sidebar" role="banner">

    <div class="sidebar-bg " style="background-color:#ee682a;background-image:url(/assets/img/sidebar-bg.jpg
)"></div>

    <div class="sidebar-sticky">
      <div class="sidebar-about">
        <h2 class="h1"><a href="/">Team Anveshak</a></h2>


      </div>

      <nav class="sidebar-nav heading" role="navigation">
        <span class="sr-only">Navigation:</span>
<ul>





      <li>
        <a id="_navigation" href="/about/" class="sidebar-nav-item">
          Our Rovers
        </a>
      </li>



      <li>
        <a href="/members/" class="sidebar-nav-item">
          Our Team
        </a>
      </li>



      <li>
        <a href="/support/" class="sidebar-nav-item">
          Support Us
        </a>
      </li>


</ul>

      </nav>



      <div class="sidebar-social">
        <span class="sr-only">Social:</span>
<ul>






















<li>
  <a target="_blank" href="https://facebook.com/anveshak.iitm" title="Facebook" class="no-mark-external">
    <span class="icon-facebook"></span>
    <span class="sr-only">Facebook</span>
  </a>
</li>
















<li>
  <a target="_blank" href="https://www.instagram.com/anveshak_iitm/" title="Instagram" class="no-mark-external">
    <span class="icon-instagram"></span>
    <span class="sr-only">Instagram</span>
  </a>
</li>
















<li>
  <a target="_blank" href="mailto:teamanveshak@smail.iitm.ac.in" title="Email" class="no-mark-external">
    <span class="icon-mail"></span>
    <span class="sr-only">Email</span>
  </a>
</li>
















<li>
  <a target="_blank" href="https://www.youtube.com/channel/UCiYcMDTMdyaxfUrP-6C2HAQ" title="YouTube" class="no-mark-external">
    <span class="icon-youtube"></span>
    <span class="sr-only">YouTube</span>
  </a>
</li>


</ul>

      </div>
    </div>
  </header>
</hy-drawer>

<!--
sidebar-overlay -->

</hy-push-state>
{% endblock %}
{% block js %}{% endblock %}