p{
	color: #999;
	line-height: 25px;
}
h2,h3{
	color: #fff;
}
h2{
	font-size: 18px;
}
.footer-top{
	background: #111;
	padding: 80px 0;
}
.segment-one h3{
	font-family: Courgette;
	color: #fff;
	letter-spacing: 3px;
	margin: 10px 0;
}
.segment-two h2{
	color: #fff;
	font-family: 'Alegreya Sans', sans-serif;
	text-transform: uppercase;
}
.segment-two h2:before{
	content: '|';
	color: #c65039;
	font-family: 'Alegreya Sans', sans-serif;
	padding-right: 10px;
}
.segment-two ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.segment-two ul li{
	border-bottom: 1px solid rgba(255,255,255,0.3);
	line-height: 40px;
	color: #999;
}
.segment-two ul li a{
	color: 000;
	text-decoration: none;
}
.segment-three h2{
color: #fff;
font-family: Poppins;
text-transform: uppercase;
}
.segment-three h2:before{
	content: '|';
	color: #c65039;
	padding-right: 10px;
}
.segment-three a{

	width: 50px;
	height: 50px;
	display: inline;

}
.segment-three a i{
	font-size: 20px;
	color: #fff;
	padding: 10px 12px;
}
.segment-four h2{
	color: #fff;
	font-family: Poppins;
	text-transform: uppercase;
}
.segment-four h2:before{
	content: '|';
	color: #c65039;
	padding-right: 10px;
}
.footer-bottom-text{
	text-align: center;
	background: #000;
	line-height: 75px;

}
.reach1{
	color: #999;
}
.reach2{
	color: #999;
}
.buton{
	padding-left: 50px;
	padding-top: 30px;
}


